<!-- extend index layout -->
{% extends "base.html" %}

{% block content %}
<h2>Delete book:</h2>
<form action="" method="post" name="delete_book">
    {{form.hidden_tag()}}Book title: {{ form.book_title(size = 40, maxlength = 140, readonly = True) }}
    {% for error in form.errors.delete_book %}
    <span style="color: crimson;">{{error}}</span><br>
    {% endfor %} &nbsp<input type="submit" value="Delete"> <button><a href="{{ url_for('index') }}" style='text-decoration: none; color: black; '> Cancel </a></button>
</form>
<br>
{% endblock %}